/* استایل دادن به لیست ارز ها */

.main-part__table-container{
    margin-top: 80px ;
}

.main-part__table-container{
    padding: 30px 50px ;
}

.coins p{
    font-size: 12px ;
    width: 5px ;
}

.firt-content__right-text i{
    font-size: 40px ;
}

/* استایل دادن به بخش نمایش ارز ها */

.show-coins-part__container{
    width: 90vw ;
}

.firt-content__left-text img{
    width: 70px ;
    height: 70px ;
}


.seond-content__left-text p, .seond-content__right-text p{
    font-size: 20px;
}

.show-coins-part___third-content{
    font-size: 25px ;
}